<% rows.forEach(row=> { %>
  <!-- ROW -->
  <div class="row justify-content-around">
  <% row.forEach(ad=> { %>
    <!-- CARD -->
    <div class="card border-dark mb-3">
      <!-- CARD HEADER-->
      <div class="card-header border-light mx-3">
        <%= ad.nombre %>
      </div>
      <!-- CARD HEADER -->
      <!-- CARD BODY-->
      <div class="card-body text-dark d-flex flex-column justify-content-around">
        <h5 class="card-title">
          <%= ad.venta ? 'En venta' : 'En búsqueda' %>
        </h5>
        <p class="card-text">Precio: <%= ad.precio %>€</p>
      </div>
      <!-- CARD BODY -->
      <!-- CARD FOOTER -->
      <div class="card-footer border-light d-flex align-items-center justify-content-between mb-3 mx-3">
        <p class="mb-0 mx-2">Tags:</p>
        <ul class="row pl-0 m-0 justify-content-around w-100">
          <% ad.tags.forEach(tag=> { %>
            <li class="col" style="list-style: none;">
              <%= tag %>
            </li>
          <% }) %>
        </ul>
      </div>
      <!-- CARD FOOTER -->
    </div>
    <!-- CARD -->
  <% }) %>
  </div>
  <!-- ROW -->
<% }) %>