/*FONTS*/

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}

/* Overriding Bootstrap classes */

.container{
    font-family: OpenSans-ExtraBold, Verdana, Geneva, Tahoma, sans-serif;
}

.card{
    border: 1px solid #000;
    margin-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    width: 42%;
    margin: .5rem;
}

.card-header{
    font-size: 1.8rem;
    color: #3B7C39;
}

/* My styles */

.title{
    border-bottom: 1px solid black;
    background-image: linear-gradient(0deg, rgba(48,48,48,1) 37%, rgba(60,135,58,1) 45%, rgba(55,96,54,1) 50%, rgba(48,48,48,1) 53%);
    background-clip: border-box;
    -webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
    font-family: OpenSans-ExtraBoldItalic, Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 5rem;
    padding-bottom: 1rem;
    text-align: center;
}

.articles-title{
    text-align: center;
    margin: 1rem ;    
}

.cards-wrapper{
    display: flex;
    flex-wrap: wrap;
}

.no-data{
    width: 100%;
    text-align: center;
}

/* ADS Error */

.body-bg-img{
    background-image: url(../assets/error404.jpg);
    background-repeat: no-repeat;
    background-position:bottom;
    height: 100vh;
}