<!-- TODO: Cambiar el estilo de las cards -->

<% rows.forEach(row=> { %>
<!-- ROW -->
<div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
  <% row.forEach(ad=> { %>
    <%- include('adCard', { ad }) %>
  <% }) %>
</div>
<!-- ROW -->
<% }) %>
